<article class="marker">
  <div class="marker-content">
   <p class="plant-name">
      <a>Weed</a>
  </p>

  <p class="plant-location">
      Longitude: 100.00, Latitude: 100.00
  </p>
  <p class="marker-description">
      This plant is edible if you want to have a good time!
  </p>
  
  </div>    
  <div class="plant-img">
        <img src="../shrek1.png">
  </div>
</article>