<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Vegimap</title>
		<link rel="stylesheet" href="style.css"/>
		<script src="navscript.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"/>

		<link rel="icon" href="image0.png"/>
		


		
		<link rel="stylesheet" href="./leaflet/leaflet.css" />
		<script src="leaflet/leaflet.js"></script>
		
		
	</head>

    <body>
		
		<nav>
			<ul class="menu">
				<li class="logo"><a href="/">VEGIMAP</a></li>
				<li class="item"><a href="/">Home</a></li>
				<li class="item"><a href="/about">About</a></li>

				<li class="item button"><a href="/login">Log In</a></li>
				<li class="item button secondary"><a href="signup">Sign Up</a></li>
				<li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
			</ul>
		</nav>
		
        {{{body}}}
		
    </body>

</html>





