<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
			<title>Vegimap</title>
			<link rel="stylesheet" href="/style.css">

			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    </head>

    
    <body>
		<nav>
			<ul class="menu">
				<li class="logo"> <a href="#">VEGIMAP</a></li>
				<li class="item"><a href="#">Home</a></li>
				<li class="item"><a href="#">About</a></li>

				<li class="item button"><a href="/login">Log In</a></li>
				<li class="item button secondary"><a href="signup">Sign Up</a></li>
				<li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
			</ul>
		</nav>
		
		
        {{{body}}}
		
		
    </body>

</html>
