<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Vegimap</title>
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"/>

		<link rel="icon" href="image0.png"/>
		


		
		<link rel="stylesheet" href="./leaflet/leaflet.css" />
		<script src="leaflet/leaflet.js"></script>	

		<div id ="nav">
			<ul class="menu">
				<li class="logo"><a href="/">VEGIMAP</a></li>
				<li class="item"><a href="/">Home</a></li>
				<li class="item"><a href="/about">About</a></li>
				<li class="item"><a href="/scoreboard">Scoreboard</a></li>

				<li class="item button"><a href="/signin.html">Sign In</a></li>
				<li class="item button secondary"><a href="bye">Sign out</a></li>
				<li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
			</ul>
		</div>

		
		<button type="button" id="add-plant-button"><i class="fas fa-plus"></i></button>

    	<div id="modal-backdrop" class="hidden"></div>
    	<div id="add-something-modal" class="hidden">
      	<div class="modal-dialog">

        	<div class="modal-header">
          		<h3>Add a plant marker</h3>
          		<button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        	</div>

        <div class="modal-body">

          <div class="marker-input-element">
            <label for="marker-text-input">Plant name</label>
            <input type="text" id="marker-name-input" placeholder="enter plant name">
          </div>

          <div class="marker-input-element">
            <label for="marker-photo-input">Image URL</label>
            <input type="text" id="marker-photo-input" placeholder="enter plant image URL">
          </div>

          <div class="marker-input-element">
            <label for="marker-desc-input">Plant description</label>
            <input type="text" id="marker-desc-input" placeholder="enter plant description">
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
          <button type="button" id="modal-accept" class="action-button">Pick marker location</button>
        </div>

      	</div>
    	</div>
		
		<script src="index.js"></script>	
	</head>

    <body>
        {{{body}}}
    </body>

</html>





