<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Vegimap</title>
		<link rel="stylesheet" href="style.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"/>

		<link rel="icon" href="image0.png"/>
		


		
		<link rel="stylesheet" href="./leaflet/leaflet.css" />
		<script src="leaflet/leaflet.js"></script>	

		<div id ="nav">
			<ul class="menu">
				<li class="logo"><a class="nav-link" href="/">VEGIMAP</a></li>
				<li class="item"><a class="nav-link" href="/">Home</a></li>
				<li class="item"><a class="nav-link" href="/about">About</a></li>
				<li class="item"><a class="nav-link" href="/leaderboard">Leaderboard </a></li>

				<li class="item button"><a class="nav-link" href="/signin">Sign In</a></li>
				<li class="item button secondary"><a class="nav-link" href="bye">Sign out</a></li>
				<li class="toggle"><a class="nav-link" href="#"><i class="fas fa-bars"></i></a></li>
			</ul>
		</div>

		<script src="index.js"></script>	
	</head>

    <body>
        {{{body}}}
    </body>

</html>





