<main class="about-header">
    <h2>About Vegimap</h2>
    <h4>The CS 361 Project </h4>
    <br>
    <p> Here at Vegimap, we believe in mindfulness as a cornerstone of healthy living.
        We saw a vision of a future where students can maximize their time and focus 
        on building their education without worrying about where their next meal comes
        from. We are building this product as our way to work to lessen the effects of
        a growing food insecurity crisis among Oregon State University students. 24.3%
        of them have reported being food insecure, meaning they don’t have adequate 
        access to their basic daily nutritional needs. Oregon State University has 
        resources that could help students without increased spending. The members of 
        this college are incredibly diverse and talented; many of them have extensive
        plant knowledge and understand the plants on campus. With input from our users,
        our team could make a difference in our community and the livelihood of students
        around us.
        <br><br>
        Vegimap believes in spreading awareness. The only way we can truly make a difference
        in times of need is to spread the message. People can only help if they know that
        there is a problem. Through our app and messaging, we are working to bring attention
        to a crisis that is going unnoticed by the greater student population. Additionally,
        our team is working to make food around campus accessible to everyone. No one should
        have to go above and beyond to achieve their basic needs. We’ve worked to bring
        nutrition closer to you.
</p>
</main>