<main id="workspace">
    <div class='board-container'>
        <h2> Leaderboard</h2>
        <div class="board-list">
            <div class="rank"> 1 </div>
                {{> rankedUser}}
            <div class="rank"> 2 </div>
                {{> rankedUser}}
            <div class="rank"> 3 </div>
                {{> rankedUser}}
            <div class="rank"> 4 </div>
                {{> rankedUser}}
            <div class="rank"> 5 </div>
                {{> rankedUser}}
            <div class="rank"> 6 </div>
                {{> rankedUser}}
            <div class="rank"> 7 </div>
                {{> rankedUser}}
            <div class="rank"> 8 </div>
                {{> rankedUser}}
            <div class="rank"> 9 </div>
                {{> rankedUser}}
            <div class="rank"> 10 </div>
                {{> rankedUser}}
        </div>
    </div>
</main>