<style>
	body {
		margin: 0;
		padding: 0;
	}
</style>

<div id="map">
	<div class="leaflet-control coordinate"></div>
</div>


<script>
	var map = L.map('map').setView([44.563091, -123.283511], 15);
	
	var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	});
	osm.addTo(map);
	
	
</script>
