<style>
	body {
		margin: 0;
		padding: 0;
	}
</style>

<div id="map">
	<div class="leaflet-control coordinate"></div>
</div>

<button type="button" id="add-plant-button"><i class="fas fa-plus"></i></button>

    	<div id="modal-backdrop" class="hidden"></div>
    	<div id="add-something-modal" class="hidden">
      	<div class="modal-dialog">

        	<div class="modal-header">
          		<h3>Add a plant marker</h3>
          		<button type="button" id="modal-close" class="modal-hide-button">&times;</button>
        	</div>

        <div class="modal-body">

          <div class="marker-input-element">
            <label for="marker-text-input">Plant name</label>
            <input type="text" id="marker-name-input" placeholder="enter plant name">
          </div>

          <div class="marker-input-element">
            <label for="marker-photo-input">Image URL</label>
            <input type="text" id="marker-photo-input" placeholder="enter plant image URL">
          </div>

          <div class="marker-input-element">
            <label for="marker-desc-input">Plant description</label>
            <input type="text" id="marker-desc-input" placeholder="enter plant description">
          </div>

          <div class="marker-input-element">
            <label for="marker-long-input">Plant longitude</label>
            <input type="text" id="marker-long-input" placeholder="enter plant longitude">
          </div>

          <div class="marker-input-element">
            <label for="marker-lat-input">Plant latitude</label>
            <input type="text" id="marker-lat-input" placeholder="enter plant latitude">
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
          <button type="button" id="modal-accept" class="action-button">Accept</button>
        </div>

      	</div>
    </div>

	<script src="addbutton.js"></script>

<script>
	var map = L.map('map').setView([44.563091, -123.283511], 15);
	
	var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	});
	osm.addTo(map);
	
	
</script>
