<main id="workspace">
    <div class='title-contents'>
        <div class='title'>
            <a>{{title}}</a>
        </div>
        <div class='title-username'>
            <a>{{username}}</a>
        </div>
    </div>
</main>