<!-- Coding by CodingLab | www.codinglabweb.com-->

<body>
	<!-- Dependencies -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Boxicons CSS -->
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	
	<section class="container forms">
		<div class="form login">
			<div class="form-content">
				<header>Login</header>
				<form id="login-form">
					<div class="field input-field">
						<input id="login-form-email" type="email" name="email" placeholder="Email" class="input">
					</div>

					<div class="field input-field">
						<input id="login-form-password" type="password" name="password" placeholder="Password" class="password">
						<i class='bx bx-hide eye-icon'></i>
					</div>

					<div class="form-link">
						<a href="#" class="forgot-pass">Forgot password?</a>
					</div>

					<div class="field button-field">
						<button>Login</button>
					</div>
				</form>

				<div id="login-validation-notice">
					<p style="color:red"></p>
				</div>

				<div class="form-link">
					<span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
				</div>
			</div>
		</div>

		<!-- Signup Form -->

		<div class="form signup">
			<div class="form-content">
				<header>Signup</header>
				<form id="register-form">
					<div class="field input-field">
						<input id="register-form-username" type="text" name="username" placeholder="Username" class="input">
					</div>
					
					<div class="field input-field">
						<input id="register-form-email" type="email" name="email" placeholder="Email" class="input">
					</div>

					<div class="field input-field">
						<input id="register-form-password" type="password" name="password" placeholder="Create password" class="password">
						<i class='bx bx-hide eye-icon'></i>
					</div>

					<div class="field input-field">
						<input id="register-form-confirm-password" type="password" placeholder="Confirm password" class="password">
					</div>
					
					<div id="register-validation-notice">
						<p style="color:red"></p>
					</div>

					<div class="field button-field">
						<button>Signup</button>
					</div>
				</form>

				<div class="form-link">
					<span>Already have an account? <a href="#" class="link login-link">Login</a></span>
				</div>
			</div>
		</div>
	</section>

	<!-- JavaScript -->
	<script src="scripts/signin.js"></script>
</body>



