/* Basic Styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: #222;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.logo {
  padding: 10px;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* ----------------- Mobile menu -----------------*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* ----------------- Tablet menu -----------------*/
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }

  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }

  .button a {
    background: #35bd37
  }

  .button.secondary {
    border: 0;
  }

  .button.secondary a {
    background: transparent;
    border: 1px #35bd37 solid;
  }

  .button a:hover {
    text-decoration: none;
  }
  
  .button:not(.secondary) a:hover {
    background: #119113;
  }
}

/* ----------------- desktop menu -----------------*/
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .button {
    order: 2;
  }

  .toggle {
    display: none;
  }

  .button a {
    background: #35bd37;
  }

  .button.secondary {
    border: 0;
  }

  .button.secondary a {
    background: transparent;
    border: 1px #35bd37 solid;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button:not(.secondary) a:hover {
    background: #119113;
  }
}


/*	Map	*/
#map {
	width: 100%;
	height: 100vh;
}

.coordinate {
	position: absolute;
	bottom: 10px;
	right: 50%;
}

.leaflet-popup-content-wrapper {
	background-color: #000000;
	color: #fff;
	border: 1px solid red;
	border-radius: 0px;
}
