/* -------------- Basic Nav styling -------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(21, 21, 21, 0.93); /* this makes it transparent*/
  font-family: sans-serif;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.logo {
  padding: 10px;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* ----------------- Mobile menu ----------------- */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* ----------------- Tablet menu -----------------*/
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }

  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }

  .button a {
    background: #004225
  }

  .button.secondary {
    display: none;
    border: 0;
  }

  .button.secondary a {
    background: transparent;
    border: 1px #004225 solid;
  }

  .button a:hover {
    text-decoration: none;
  }
  
  .button:not(.secondary) a:hover {
    background: #004225;
  }
}

/* ----------------- desktop menu -----------------*/
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .button {
    order: 2;
  }

  .toggle {
    display: none;
  }

  .button a {
    background: #004225;
  }

  .button.secondary {
    border: 0;
  }

  .button.secondary a {
    background: transparent;
    border: 1px #004225 solid;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button:not(.secondary) a:hover {
    background: #004225;
  }
}


/*	Map	*/
#map {
	width: 100%;
	height: 100vh;
  z-index: 0;
}

.coordinate {
	position: absolute;
	bottom: 10px;
	right: 50%;
}

.leaflet-popup-content-wrapper {
	background-color: #000000;
	color: #fff;
	border: 1px solid red;
	border-radius: 0px;
}

/* ----------------- sign up page  -----------------*/

/* https://www.codinglabweb.com/2022/06/login-signup-form-html-css-javascript.html */
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #481f01; /* syrup brown */
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #004225;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #004225;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #004225;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}


/* ----------------- add button / modal -----------------*/
.hidden {
  display: none;
}

#add-plant-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  background-color: #004225; /*add button color is british racing green  */
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

#add-something-modal {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1010;
  
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 35px 35px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
	padding: 20px;
}

.marker-input-element {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	margin: 15px;
	/*	height: 100px;*/
}

.marker-input-element > label {
	font-weight: 600;
	/*margin-right: 10px;*/
}

.marker-input-element input {
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 20px 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 15px;
  padding: 5px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}

.marker-input-box::after	{
	content: none;
}
.marker-input-box	{
	margin-left: auto;
	flex-direction: column;
	justify-content: space-between;
	/*
	justify-self: right;
	margin-left: 0;
	margin-right: 0;*/
}

/* ----------------- leaderboard -----------------*/
.board-container{
  margin-top: 75px;
  width: 100%;
}

.board-list{
  width: 50%;
  border: 2px solid;
  border-radius: 10px;
  margin-left: 25%;
}

.content{
  display: block;
  width: 100%;
  height: 100px;
}

#board-header{
  text-align: center;
}

.avatar{
  float: left;
  width: 72px;
  height: 72px;
  margin-top: 20px;
  border-radius: 50%;
}

.avatar img{
  max-width: 100%;
  max-height: 100%;
}

.username {
  text-decoration: none;
  color: black;
  float: left;
  padding-top: 40px;
}

.rank{
  font-family: "Roboto Slab", serif;
  float: left;
  text-align: center;
  vertical-align: middle;
  padding-top: 40px;
}

.points{
  text-align: right;
  color: #004225;
  vertical-align: middle;
  padding-top: 40px;
}

/*-------- Profile Page --------*/
#profile-picture{
  float: right;
  width: 130px;
  height: 130px;
  border: 2px solid;
  border-radius: 2px;
  margin-right: 4px;
  margin-top: 4px;

}

#profile-picture img{
  width: 128px;
  height: 128px;
}

.profile-box{
  width: 50%;
  height: 400px;
  border: 2px solid;
  border-radius: 10px;
  margin-left: 25%;
  justify-content: left;
}

.profile-container{
  margin-top: 75px;
  width: 100%;
}

.profile-username{
  margin-left: 20px;
  font-weight: bold;
  font-size: 500%;
}

.date-joined{
  font-weight: 500;
  font-size: 50%;
  text-align: left;
}

.bottom-half{
  margin-left: 20px;
}

#profile-points{
  text-align: justify;
  color: #004225;
  font-size: 50px;
}

.user-markers{
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 8px;
  margin-left: 2px;
  width: 40%;
  text-align: center;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

/*-------- about page --------*/
.about-header{
  font-family: "Robot Slab", serif;
  margin-top: 70px;

}

.about-image{
  display: grid;
  height: 100%;
}

.about-teampic{
  max-width: 100%;
  max-height: 50vh;
  margin: auto;
}

.about-header h2{
  font-size: 64px;
  text-align: center;
}

.about-header h4{
  font-size: 32px; 
  text-align: center;
}

.about-paragraph {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

/*-------- error page --------*/

.error-container {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.error-container h2 {
  font-size: 128px;
  margin-top: 50px;
  margin-bottom: 0;
}

.error-container h3 {
  font-size: 32px;
  margin: 0;
}
/*	Intended for input fields */
.error-input {
  border:2px solid red;
}


